#Python
__pycache__/
*.py[cod]
*$py.class

#Virtual environments
venv/
.venv/
env/
ENV/
.env
.env.*
!.env.example
Thumbs.db

#Packaging / build
build/
dist/
*.egg-info/

#Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#OS
.DS_Store

#IDEs
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#FastAPI / Uvicorn
*.pid

#Data Files
data/raw_locations*.txt
data/geocode_cache.json

#Node Frontend
node_modules/
dist
dist-ssr
*.local